*{margin:0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
body{margin:0;}
button a{text-decoration: none; color:black; font-size: 14px; padding: 5px 10px;}
h1, h2, h3, h4, h5, h6{font-weight: bold; font-family: Arial, Tahoma, sans-serif;}
p{font-family: Georgia; font-size: 15px;}
.full_wrap{width: 100%;}
.wrap{
	width:1090px;
	margin:0 auto;
	display: block;
}

/**********Header***************/
.header_bg{
	background-color: #2c3e50;

}
#header{
	padding: 20px 15px;
	display: block;
}
#header h2{
	font-size: 35px;
	font-family: 'Squada One', cursive;
}
#header h2 a{
	text-decoration: none;
	color:#fff;
	font-weight: bold;
}
#header p a{
	text-decoration: none;
	color:#e74c3c;
	font-family: 'Squada One', cursive;
}
/**********Header end***************/

/**********Menu Start***************/
.menu_bg{
	background-color: #b2bec3;
}
.menu_bg:after{
	content: '';
	clear: both;
	display: block;
}
#nav ul{
	margin: 0;
	padding: 0;
}
#nav ul li{
	list-style-type: none;
	float: left;
}
#nav ul li a{
	text-decoration: none;
	color:black;
	padding: 15px 30px;
	display: block;
	font-size: 15px;
	font-family: Arial;
	text-transform: uppercase;
	transition: color 300ms, background-color 300ms;
}
#nav ul li a:hover{
	color:#fff;
	background: #610B21;
}
/**********Menu end***************/


/**********Section Start***************/
.content_bg{
	background-color: #f9f9f9;
	overflow: hidden;
	padding: 10px 0;
}

#header_content{
	width: 530px;
	float: left;
	margin-right: 30px;
	margin-top: 30px;
}
#header_content h2{
	font-family: sans-serif;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 15px;
	color: #11111f;
}
#header_content p{
	font-size: 18px;
	font-family: arial;
	text-align: justify;
	color: #2f2f2f;
}
#header_content button{
	border-radius: 40px;
    padding: 15px 25px;
    background-color: #c0392b;
    margin-top: 25px;
    margin-left: 15px;
	border: 1px solid #e74c3c;
    transition: background-color 0.3s;
}

#header_content button:hover{
	background-color: #e74c3c;
}
#header_content button a{
	   	color: #fff;
	   	font-size: 20px;
    	font-family: Arial;
}

#sidebar_img img{
	margin-top: 50px;
    width: 520px;
    height: 433px;
	border: 1px solid #747d8c;
    box-shadow: 1px 1px 20px #747d8c;
	border-radius: 5px;
}

/**********Section end***************/

/**********Head Content Start***************/
.content_head_bg{
	background: url(../images/web-design-background.jpg) no-repeat;
	width: 100%;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
	background-attachment: fixed;
}
.content_head_bg .overlay-area{
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
}
#content_head{
	padding: 100px 0;
}
#content_head h2{
	font-family: Tahoma;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 15px;
	text-align: center;
	color: #ffffff;
}
#content_head p{
	font-family: Arial;
	font-size: 18px;
	text-align: justify;
	margin-bottom: 40px;
	color: #ffffff;
}
#article_content{
	width:350px;
	float: left;
	margin-right: 20px;
}
#article_content2{
	width:350px;
	float: left;
	margin-right: 20px;
}
#article_content3{
	width:350px;
	float: left;
}
/**********Head Content end***************/

/**********Middle Content Start***************/
.middle_bg{
	background-color:#ECF0F1;
	overflow: hidden;
}
#middle_content{
	margin-top: 50px;

}

#middle_content h2{
	font-family: Tahoma;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
	color: #11111f;
}
#middle_content p{
	font-family: Arial;
	font-size: 18px;
	text-align: justify;
	margin:35px;
	font-style: italic;

}
blockquote{
	background-color: #fff;
	padding: 10px;
	box-shadow: 1px 1px 10px 1px grey;
	border-radius: 15px;
	margin-bottom: 30px;
}
#blockquote1{
	width:330px;
	height: 280px;
	float: left;
	margin-right: 15px;
}
#blockquote1 h5{
	font-family: Tahoma;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
#blockquote2{
	width:330px;
	height: 320px;
	float: left;
	margin-right: 15px;
}
#blockquote2 h5{
	font-family: Tahoma;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

#blockquote3{
	width:330px;
	height: 280px;
	float: left;
}

#blockquote3 h5{
	font-family: Tahoma;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
/**********Middle content end***************/


/**********Package Price start***************/
.package_bg{
	background-image: linear-gradient(#ECF0F1,#dcdde1);
	overflow: hidden;
}
#package_price{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: #11111f;
}
#package_price h2{
	font-family: Tahoma;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	color: #11111f;
}

#package_price p{
	font-family: Arial;
	font-size: 18px;
	margin-bottom: 10px;
}
/**********Package1 start***************/
#package1{
	width: 300px;
	height: 450px;
	float: left;
	margin-right: 30px;
	background: #fff;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 10px 1px grey;
	transition: box-shadow 0.2s;
}
#package1:hover{
	box-shadow: 2px 2px 20px 2px grey;
}
#package1 h4{
	font-family: Tahoma;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}
#package1 h2{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #11111f;
}
#package1 button{
	border-radius: 40px;
    padding: 15px 24px;
    background-color: #fff;
    font-size: 20px;
    font-family: Arial;
    margin-top: 25px;
    margin-left: 15px;
    cursor: pointer;
    border:2px solid #8A0808;
}
#package1 button a{
	font-family: Arial;
	color:#000;
	font-weight: bold;
}
#package1 button a:hover{
	color:#FE2E2E;
}
/**********Package1 end***************/

/**********Package2 start***************/
#package2{
	width: 300px;
	height: 450px;
	float: left;
	margin-right: 30px;
	border: 2px solid red;
	background: #fff;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 10px 1px grey;
	transition: box-shadow 0.2s;
}
#package2:hover{
	
	box-shadow: 2px 2px 20px 2px red;
}

#package2 h4{
	font-family: Tahoma;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	padding: 20px;
}
#package2 h2{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #11111f;
}
#package2 button{
	border-radius: 40px;
    padding: 15px 24px;
    background-color: #8A0808;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 15px;
    cursor: pointer;
    border:2px solid #8A0808;
    box-shadow: 3px 3px 5px 3px #ddd;
    transition: background-color 0.4s;
}
#package2 button:hover{
	background-color:#FE2E2E;
}
#package2 button a{
	color:#fff;
	font-family: Arial;
}
/**********Package2 end***************/

/**********Package3 start***************/
#package3{
	width: 300px;
	height: 450px;
	float: left;
	background: #fff;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 10px 1px grey;
	transition: box-shadow 0.2s;
}
#package3:hover{
	box-shadow: 2px 2px 20px 2px grey;
}
#package3 h4{
	font-family: Tahoma;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}
#package3 h2{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #11111f;
}

#package3 button{
	border-radius: 40px;
    padding: 15px 24px;
    background-color: #fff;
    font-size: 20px;
    font-family: Arial;
    margin-top: 25px;
    margin-left: 15px;
    cursor: pointer;
    border:2px solid #8A0808;
}
#package3 button a{
	font-family: Arial;
	color:#000;
	font-weight: bold;
}
#package3 button a:hover{
	color:#FE2E2E;
}
/**********Package3 end***************/


/**********Choose Me Start***************/
.choose_bg{
	background-image: linear-gradient(#dcdde1,#dfe4ea);
	overflow: hidden;
}
#choose_wrap{
	margin-top: 50px;

}
#choose_wrap h2{
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #11111f;
}
#choose_wrap h3{
	font-family: sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #11111f;
}
#choose_wrap p{
	font-family: sans-serif;
	font-size: 18px;
	text-align: justify;
	margin-bottom: 50px;
	color: #2f2f2f;
}
#choose_me1{
	width:350px;
	float: left;
	margin-right: 20px;
}
#choose_me2{
	width:350px;
	float: left;
	margin-right: 20px;
}
#choose_me3{
	width:350px;
	float: left;
}

#project_complete h3{
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
}
#project_complete p{
	font-size: 18px;
	text-align: center;
}

#project1{
	width:330px;
	float: left;
	margin-right: 10px;
	background-color: #fff;
	border:1px solid #ddd;
	padding: 10px;
	box-shadow: 1px 1px 10px 1px grey;
	border-radius: 15px;
	margin-bottom: 50px;
}
#project2{
	width:330px;
	float: left;
	margin-right: 10px;
	background-color: #fff;
	border:1px solid #ddd;
	padding: 10px 10px;
	box-shadow: 1px 1px 10px 1px grey;
	border-radius: 15px;
	margin-bottom: 50px;
}
#project3{
	width:330px;
	float: left;
	background-color: #fff;
	border:1px solid #ddd;
	padding: 10px;
	box-shadow: 1px 1px 10px 1px grey;
	border-radius: 15px;
	margin-bottom: 50px;
}

/**********Choose Me end***************/

#frame_wrap{
	margin-top: 50px;
	margin-bottom: 50px;
}


iframe{
	border:2px solid #000;
	border-radius: 5px;
}




/**********content footer start***************/
.content_footer_bg{
	background-color: #424242;
	overflow: hidden;
	border-bottom: 2px solid #8A0808;
}
#content_footer{
	margin-top: 40px;
	
}
#content_footer h2{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 25px;
	border-bottom: 2px solid #fff;
	color:#fff;
	width:300px;
	margin-bottom: 20px;
}
#social_area li{
	list-style-type: none;
	float: left;
}
#social_area img{
	width:40px;
	margin-right: 10px;
	margin-bottom: 40px; 
}

/**********content footer end***************/

/**********footer Start***************/
.footer_bg{
	background-color: #424242;
	overflow: hidden;
}
#footer p{
	color:#f9f9f9;
	padding: 20px;
	text-align: center;
	font-family: sans-serif;
}



/**********footer end***************/